[push]
  default = current
[user]
  name = Keith Salisbury
  email = keith.salisbury@alliants.com
[color]
  ui = true
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
[alias]
  co = checkout
  br = branch
  ci = commit
  s  = status
  st = status
  a  = add -p
  i  = add -i
  g = grep --break --heading --line-number
[commit]
  template = ~/.commitmessage
[grep]
  extendRegexp = true
  lineNumber = true
