# Ignore everything
/*
# Except these...

!.aliases
!.atom
!.bash_profile
!.bashrc
!.cabal/config
!.config/
!.chruby
!.colours
!.commitmessage
!.emacs
!.functions
!.gemrc
!.git-completion.bash
!.gitconfig
!.gitignore
!.gitignore_global
!.inputrc
!.pryrc
!.railsrc
!.tmux.conf
!.vim/colors
!.vimrc
!.xbindkeys
!.xinitrc
!.Xresources
!.yarnrc

