# Blacklist files/folders in the same directory as .gitignore
/*

# Except these...
!.Xresources
!.aliases
!.atom/.apmrc
!.atom/config.cson
!.bash_profile
!.bashrc
!.bin
!.cabal/config
!.chruby
!.colours
!.commitmessage
!.config/
.config/*
!.config/mpd/
!.config/gtk-3.0/
!.config/i3/
!.config/i3status/
!.config/dunst/
!.config/mpd/
!.config/mpd/playlists/
!.config/youtube-dl/
!.emacs
!.functions
!.gemrc
!.git-completion.bash
!.gitconfig
!.gitignore
!.gitignore_global
!.gtkrc-2.0.mine
!.inputrc
!.pryrc
!.railsrc
!.tmux.conf
!.vim/colors
!.vimrc
!.vimrc.local
!.vimrc.local.bundles
!.xbindkeysrc
!.xinitrc
!.Xmodmap
!.yarnrc
