[push]
	default = current
[user]
	name = Keith Salisbury
	email = keith.salisbury@alliants.com
[color]
  ui = true
[core]
  editor = vim
	excludesfile = /Users/keithsalisbury/.gitignore_global
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
