!-- Xft settings !
!-- Using `xdpyinfo | grep -B 2 resolution` u can find res for ur monitor
!Xft*dpi: 220
Xft*dpi: 220


Xft*antialias: true
/* Xft*rgba: rgb */
/* Xft*hinting:                full */
/* Xft*hintstyle:  hintfull */

Xft*hinting: true
Xft*hintstyle: hintslight
Xft*autohint: false
Xft*lcdfilter: lcddefault
urxvt*background:       rgba:0000/0000/0000/cccc

URxvt.transparent:   true
URxvt.shading:       20 

!-- Xterm settings !

Xterm*font: *-Terminus-*-*-*-27-*,xft:Font Awesome 5 Free:size=8
XTerm*utf8: 2

!-- URxvt settings !

/* XTerm*saveLines:            32767 */
/* URxvt*depth: 32 */
/* URxvt*iconFile:             /usr/share/icons/elementary/apps/24/terminal.svg */
/* URxvt*colorUL:              #AED210 */
/* URxvt*keysym.M-u:           perl:url-select:select_next */
/* URxvt*url-select.launcher:  /usr/bin/firefox -new-tab */
/* URxvt*url-select.underline: true */

/* URxvt*keysym.C-M-c:     perl:clipboard:copy; */
/* URxvt*keysym.C-M-v:     perl:clipboard:paste; */
URxvt*keysym.Control-Meta-V: eval:paste_clipboard
URxvt*keysym.Control-Meta-C: eval:selection_to_clipboard

URxvt*font: xft:Dejavu Sans Mono:size=8,xft:Font Awesome 5 Free:size=8,xft:Inconsolata\ for\ Powerline:pixelsize=22

URxvt*letterSpace: -1
URxvt*saveLines: 1000000

!-- Perl extensions !
!URxvt.perl-ext-common: default,clipboard,matcher,tabbed,font-size,url-select,keyboard-select
URxvt.perl-ext-common: default,clipboard,matcher,font-size,url-select,keyboard-select
URxvt.searchable-scrollback: CM-s
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.url-select.launcher:	/usr/bin/flashpeak-slimjet
URxvt.url-select.underline: true
URxvt.matcher.button: 1

!-- Change background/foreground colours !
URxvt*keysym.C-7: command:\033]11;#ffffff\007\033]10;black\007
URxvt*keysym.C-6: command:\033]11;#000000\007\033]10;white\007

!-- Change font size on the fly !
!URxvt*keysym.C-equal: font-size:increase
!URxvt*keysym.C-underscore: font-size:decrease
URxvt*keysym.C-Up:     font-size:increase
URxvt*keysym.C-Down:   font-size:decrease
URxvt*keysym.C-S-Up:   font-size:incglobal
URxvt*keysym.C-S-Down: font-size:decglobal
URxvt*keysym.C-equal:  font-size:reset
URxvt*keysym.C-slash:  font-size:show

URxvt*iso14755: false
URxvt*iso14755_52: false
/* URxvt*keysym.Shift-Alt-V: eval:paste_clipboard */
/* URxvt*keysym.Shift-Alt-C: eval:selection_to_clipboard */


URxvt*scrollBar: false
/* URxvt*scrollBar:            false */
/* URxvt*scrollTtyKeypress:    true */
/* URxvt*scrollTtyOutput:      false */
/* URxvt*scrollWithBuffer:     false */
/* URxvt*scrollstyle:          plain */
/* URxvt*secondaryScroll:      true */

!-- Common settings !

! special
*.foreground:   #dcdcdc
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color2:       #8c9440
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #a54242
*.color9:       #cc6666

! green
*.color10:      #b5bd68

! yellow
*.color3:       #de935f
*.color11:      #f0c674

! blue
*.color4:       #5f819d
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #707880
*.color15:      #c5c8c6
